.header {
  .weak {
    text-align: left;
  }

  .header-text {
    text-align: center;
  }

  .strong {
    text-align: right;
  }
}

.type-card {
  border: 1px solid black;
  margin: .4rem .2rem;
  border-radius: 2px;
  padding: 0;

  .display-button {
    font-size: 2rem;
    text-align: center;
    color: white;
  }

  .strong {
    background-color: green;
  }

  .weak {
    background-color: red;
  }

  .type-info {
    text-align: center;
    font-weight: 600;
  }

  .comparison-list {
    border-top: 1px solid black;

    &-item__strong {
      text-align: right;
    }
  }
}